<!DOCTYPE html>
<html>

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1P7S2X04DV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1P7S2X04DV');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.8/typicons.min.css'>
    <script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
    <title>Designfast</title>
</head>


<body>
    <div class="landing-page">
        <header>
            <div class="navBarContainer">
                        <a href="#" class="logo">
                            Designfast
                        </a>
                        <ul class="navLinks">
                            <li id="contactNav">Contact</li>
                        </ul>
            </div>
        </header>
        <section id="home-section">
              <div class="bg-video-wrap">
                <video src="https://raw.githubusercontent.com/mayman99/blueprint-js/email_list_landing_page/public/assets/intro.mp4" loop muted autoplay>
                <!-- <video src="../assets/intro_2.mp4" loop autoplay mute> -->
                </video>
                <div class="video-overlay">
                  <p class="hero-eyebrow">Designfast Early Access</p>
                  <h1 class="hero-eyebrow-2">Calling 3D content <span class="italic">creators</span></h1>
                  <button class="switch__button button switch-btn" id="earlyAccessButton">Join The Early Access Program</button>
                </div>
              </div>
        </section>

        <section id="demos-section">
          <div class="demos-container">
            <div class="rowFirst">
              <h1 class="demos-title">Create effortlessly using AI in 3D</h1>
              <p class="demos-subtitle">Design fast with the help of an AI specialized in interior design.</p>
            </div>
            <div class="row">
              <div class="column">
                <h1 class="grid-demos-title"> Create </h1>
              <p class="grid-demos-subtitle">Snap a fully furnitured interior space into existence from a simple 2D drawing.</p>
              <div class="custom-input">
                <input type="text" id="create-text">
              </div>
              <button class="switch__button demos-button button" id="joinWaitList1">Join The Waitlist <i class="fas fa-arrow-right"></i></button>
              </div>
              <div class="column">
                <!-- <video class="demos-video" src="../assets/v1.mp4" loop muted autoplay></video> -->
                <!-- <spline-viewer hint loading-anim url="https://raw.githubusercontent.com/mayman99/blueprint-js/email_list_landing_page/public/assets/lv_1_5.spline"></spline-viewer> -->
                <video class="demos-video" src="https://raw.githubusercontent.com/mayman99/blueprint-js/email_list_landing_page/public/assets/v1.mp4" loop muted autoplay></video>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <h1 class="grid-demos-title"> Brainstorm </h1>
                <p class="grid-demos-subtitle">Get inspired by various new designs with each click.</p>
                <div class="custom-input">
                  <input type="text" id="regen-text">
                </div>
                <button class="switch__button demos-button button" id="joinWaitList2">Join The Waitlist <i class="fas fa-arrow-right"></i></button>  
              </div>
              <div class="column">
                <!-- <spline-viewer hint loading-anim url="../assets/camera_notvstand.spline"></spline-viewer> -->
                <!-- <spline-viewer hint loading-anim url="https://raw.githubusercontent.com/mayman99/blueprint-js/email_list_landing_page/public/assets/lv_2.spline"></spline-viewer> -->
                <video class="demos-video" src="https://raw.githubusercontent.com/mayman99/blueprint-js/email_list_landing_page/public/assets/v2.mp4" loop muted autoplay></video>
                <!-- <video class="demos-video" src="../assets/v2.mp4" loop muted autoplay></video> -->
              </div>
            </div>
            <div class="row">
              <div class="column">
                <h1 class="grid-demos-title"> Edit </h1>
              <p class="grid-demos-subtitle">Our AI can also add things to already generated scenes.</p>
              <div class="custom-input">
                <input type="text" id="edit-text" placeholder="">
              </div>
              <button class="switch__button demos-button button " id="joinWaitList3">Join The Waitlist <i class="fas fa-arrow-right"></i></button>  
            </div>
              <div class="column">
                <video class="demos-video" src="https://raw.githubusercontent.com/mayman99/blueprint-js/email_list_landing_page/public/assets/v3.mp4" loop muted autoplay></video>
                <!-- <spline-viewer hint loading-anim url="https://raw.githubusercontent.com/mayman99/blueprint-js/email_list_landing_page/public/assets/lv_3_3.spline"></spline-viewer> -->
                <!-- <video class="demos-video" src="../assets/v3.mp4" loop muted autoplay></video> -->
             
              </div>
            </div>
            <!-- <div class="row">
              <div class="column">
                <h1 class="grid-demos-title"> Style </h1>
              <p class="grid-demos-subtitle">Experment with furnture of different styles, textures and colors.</p>
              <div class="custom-input">
                <input type="text" id="style-text" autofocus>
              </div>
              <button class="switch__button demos-button button">Join The Waitlist <i class="fas fa-arrow-right"></i></button>  
            </div>
              <div class="column">
                <video class="demos-video" src="../assets/proof_of_concept_cropped.mp4" loop muted autoplay></video>
              </div>
            </div>
            <div class="row">
              <div class="column">
                <h1 class="grid-demos-title"> Export </h1>
              <p class="grid-demos-subtitle">Export your design to use with all your favorite tool.</p>
              <div class="custom-input">
                <input type="text" id="export-text" placeholder="" autofocus>
              </div>
              <button class="switch__button demos-button button">Join The Waitlist <i class="fas fa-arrow-right"></i></button>  
            </div>
              <div class="column">
                <video class="demos-video" src="../assets/proof_of_concept_cropped.mp4" loop muted autoplay></video>
              </div>
            </div> -->
          </div>
        </section>
        <!-- <section id="about-section">
            <div class="about-container">
              <div class="rowFirst">
                <h1 class="demos-title">About Us</h1>
                <p class="demos-subtitle">
                    At SIDESIGN, we're dedicated to revolutionizing the world of interior design. Our vision is to empower everyone with the ability to create stunning home designs effortlessly, thanks to the power of Artificial Intelligence.
                </p>
              </div>
              <div class="row">
                <div class="column">
                  <h3 class="about-descs"><span class="typcn typcn-device-desktop icon"></span>Our Process</h3>
                  <p class="about-descp">
                    Our AI-driven process starts with a simple click. We analyze your space, style preferences, and unique requirements to generate customized design suggestions. Say goodbye to hours of brainstorming and hello to instant inspiration.
                  </p>
                </div>
                <div class="column">
                  <h3 class="about-descs"><span class="typcn typcn-pen icon"></span>Our Approach</h3>
                  <p class="about-descp">
                    We believe in collaboration. Our platform not only provides design recommendations but also encourages you to unleash your creativity. You can fine-tune, customize, and bring your dream design to life with ease.
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <h3 class="about-descs"><span class="typcn typcn-cog-outline icon"></span>Our Goal</h3>
                  <p class="about-descp">
                    Our goal is to make interior design accessible to all. Whether you're a professional designer or a passionate homeowner, our AI-driven platform simplifies the process and helps you achieve your design aspirations effortlessly.
                  </p>
                </div>
                <div class="column">
                  <h3 class="about-descs"><span class="typcn typcn-lightbulb icon"></span>Our Mission</h3>
                  <p class="about-descp">
                    We're on a mission to inspire and empower creativity in interior design. With our AI tools, we aim to foster a community of design enthusiasts who can transform their living spaces into works of art, one click at a time.
                  </p>
                </div>
              </div>
            </div>
          </section> -->

          <!-- <section id="contact-section">
            <a name="contact">
            <div class="contact-container">
              <div class="rowFirst">
                <h1 class="demos-title">Contact Us</h1>
                <p class="demos-subtitle">
                  Have questions or feedback? We'd love to hear from you.
                </p>
              </div>
              <div class="contact-form">
                <form id="contact-form">
                  <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                  </div>
                  <div class="input-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" required></textarea>
                  </div>
                  <div class="input-group">
                    <button class="demos-button" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            </a>
          </section> -->
          <section class="footer-wrapper">
            <footer>
              <div class="footer-container">
                <h3 class="footer-title"></h3>
              </div>
        
              <div class="footer-bottom-section">
                <hr class="footer-divider">
              </div>
            </footer>
          </section>
        
          
    </div>

    </div>
    <link href="../styles/landingPage.css" rel="stylesheet">
    <script src="../js/landingPage.js" type="module"></script>
</body>

</html>