/* Nav bar */

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navBarContainer, .mainContainer {
  /* padding-left: 0px;
  padding-right: 0px; */
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
}
/* Small */
@media (min-width: 768px) {
  .navBarContainer, .mainContainer {
    width: 100%;
  }
}
/* Medium */
@media (min-width: 992px) {
  .navBarContainer, .mainContainer {
    width: 100%;
  }
}
/* Large */
@media (min-width: 1200px) {
  .navBarContainer, .mainContainer {
    width: 100%;
  }
}
.landing-page header {
  min-height: 80px;
  display: flex;
}

@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}

.navBarContainer {
  display: flex;
  width: 100%;
  height: 5%;
  /* position: fixed; */
  z-index: 1000; /* Set a high z-index value */
  top: 0;
  justify-content: space-around;
  align-items: start;
  margin-top: 20px;
  border-radius: 50px;
}

@media (max-width: 767px) {
  .navBarContainer {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 700;
 font-size: 23px !important;
 color: #2589ff; /* Set text color to transparent */
 background-image: #2589ff; /* Set the background color to the text color */
 -webkit-background-clip: text; /* Clip the background to the text */
 background-clip: text; /* Clip the background to the text */
}

@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.navLinks {
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .navLinks {
    text-align: center;
    gap: 10px;
  }
}


.navLinks {
  margin-left: 30px;
  color: #fefefe;
  cursor: pointer;
  font-family: 'Poppins';
  transition: .3s;
}
.navLinks li{
  font-size: 12px;
}
.navLinks li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  /* margin-right: -10%; */
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 10px !important;
  background: #2589ff;
}
@media (max-width: 767px) {
  .navLinks li {
    margin-left: auto;
  }
}
.navLinkss li:not(:last-child):hover {
  color: #6c63ff;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  /* Generic */
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: #1F1D2B;
    color: #a0a5a8;
  }
  /**/
  .main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    padding: 25px;
    background-color: #1F1D2B;
    box-shadow: 10px 10px 10px #1F1D2B, -10px -10px 10px #1F1D2B;
    border-radius: 12px;
    overflow: hidden;
  }
  @media (max-width: 1200px) {
    .main {
      transform: scale(0.7);
    }
  }
  @media (max-width: 1000px) {
    .main {
      transform: scale(0.6);
    }
  }
  @media (max-width: 800px) {
    .main {
      transform: scale(0.5);
    }
  }
  @media (max-width: 600px) {
    .main {
      transform: scale(0.4);
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: #ecf0f3;
    transition: 1.25s;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .form__icon {
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    transition: 0.15s;
  }
  .form__icon:hover {
    opacity: 1;
    transition: 0.15s;
    cursor: pointer;
  }
  .form__input {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #ecf0f3;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
  }
  .form__input:focus {
    box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
  }
  .form__span {
    margin-top: 30px;
    margin-bottom: 12px;
  }
  .form__link {
    color: #181818;
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid #a0a5a8;
    line-height: 2;
  }
  .title {
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: #181818;
  }
  .subtitle {
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
    user-select: text;
    color: #181818;
  }
  .description {
    font-size: 14px;
    letter-spacing: 0.25px;
    text-align: center;
    line-height: 1.6;
  }
  .button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1.15px;
    /* background-image: repeating-linear-gradient(150deg, #ffb338 0%, #3e2904 100%, #ffb338 52%); */
    color: #ffffff;
    background-color: #181818;
    box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #f9f9f9;
    border: none;
    outline: none;
    transition: background-color .2s ease;
  }
  .button:hover {
    transform: scale(0.985);
    transition: 0.25s;
  }
  /**/
  .a-container {
    z-index: 100;
    left: calc(100% - 600px);
  }
  .b-container {
    left: calc(100% - 600px);
    z-index: 0;
  }
  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    z-index: 200;
    transition: 1.25s;
    background-color: #ecf0f3;
    overflow: hidden;
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #f9f9f9;
  }
  .switch__circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow: inset 8px 8px 12px #d1d9e6, inset -8px -8px 12px #f9f9f9;
    bottom: -60%;
    left: -60%;
    transition: 1.25s;
  }
  .switch__circle--t {
    top: -30%;
    left: 60%;
    width: 300px;
    height: 300px;
  }
  .switch__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: 1.25s;
  }
  .switch__button {
    cursor: pointer;
  }
  .switch__button:hover {
    box-shadow: 6px 6px 10px #d1d9e6, -6px -6px 10px #f9f9f9;
    transform: scale(0.985);
    transition: 0.25s;
  }
  .switch__button:active, .switch__button:focus {
    box-shadow: 2px 2px 6px #d1d9e6, -2px -2px 6px #f9f9f9;
    transform: scale(0.97);
    transition: 0.25s;
  }
  /**/
  .is-txr {
    left: calc(100% - 400px);
    transition: 1.25s;
    transform-origin: left;
  }
  .is-txl {
    left: 0;
    transition: 1.25s;
    transform-origin: right;
  }
  .is-z200 {
    z-index: 200;
    transition: 1.25s;
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: 1.25s;
  }
  .is-gx {
    animation: is-gx 1.25s;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    background-size: 3px 3px;
    /* z-index: 2; */
  }  
  @keyframes is-gx {
    0%, 10%, 100% {
      width: 400px;
    }
    30%, 50% {
      width: 500px;
    }
  }
  